div{
    width: 200px;
    height: 200px;
}
.list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.first{
background-color:red;
}
.second{
    background-color: blue;
    position: relative;
    top: 120px;
    right: 65px;
    z-index: 1;
}
.third{
    background-color: green;
    position: relative;
    right: 175px;
    top: 250px;
}